.CoffeeSectionName {
    font-size:x-large;
    display:flex;
    justify-content: center;
    color:white;
    margin: 5px;
    border: 10px solid;
    border-color: black;
    background-color: darkgreen;

}
.FrapSection {
    background-color: lightgreen;
}
.LatteSection {
    background-color: lightgreen;
}
.MacchiatoSection {
    background-color: lightgreen;
}
.SideMenu {
    border: 5px solid;
    border-color:transparent;
    width:auto;
    height:auto;
    font-size: 21px;
    margin-bottom:10px;
}
.item {
    color:grey;
    padding: 5px;
}
.MenuSection{
    color:black;
    font-size:25px;
    margin-top:10px;
    margin-bottom:10px;
    font-weight: 700!important;
    
}
.SectionName {
    color:black;
    font-size:25px;
    display:flex;
    justify-content:space-evenly;
    margin-top:20px;
    font-weight: 700!important;

}