.CoffeeSectionName {
    font-size:x-large;
    display:flex;
    justify-content: center;
    color:white;
    margin: 5px;
    border: 10px solid;
    border-color: black;
    background-color: darkgreen;

}
.FrapSection {
    background-color: lightgreen;
}
.LatteSection {
    background-color: lightgreen;
}
.MacchiatoSection {
    background-color: lightgreen;
}