.CoffeeSectionName {
    font-size:x-large;
    display:flex;
    justify-content: center;
    color:white;
    margin: 5px;
    border: 10px solid;
    border-color: black;
    background-color: darkgreen;

}
.FrapSection {
    background-color: lightgreen;
}
.LatteSection {
    background-color: lightgreen;
}
.MacchiatoSection {
    background-color: lightgreen;
}
.SideMenu {
    border: 5px solid;
    border-color:transparent;
    height:auto;
    width:min-content;
    font-size: 21px;
    margin-bottom:10px;
    display:grid;
    padding-left:20px;
    position:static;
}
.item {
    color:grey;
    padding: 5px;
    width:max-content;

}
.MenuSection{
    color:black;
    font-size:25px;
    margin-top:10px;
    margin-bottom:10px;
    font-weight: 700!important;
    width:max-content;
    
}
.SectionName {
    color:black;
    font-size:25px;
    display:flex;
    justify-content:space-evenly;
    margin-top:20px;
    font-weight: 700!important;
}
.MiniSectionName {
    color:black;
    font-size:30px;
    display:flex;
    font-weight: 700!important;
    margin-top:20px;
    justify-content:center;
}
.Tester {
    display:flex;
    justify-content:flex-end;
    width:80%;
}
.HCImage {
   height: 180px;
   width:180px;
   border-radius:50%;
   border:10px solid; 
}
.box{
    height: 180px;
   width:180px;
   border-radius:50%;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition:1s;
}
/* .box {
    display:block;
    border-radius: 5px;
} */
.box:hover {
    transform: scale(1.2);
    z-index: 2;
}
.caption {
    font-weight:700!important;
    color:black;
    padding-left:30px;
}
