.RewardsHeader {
    background-color: rgb(30,57,50);
    color:white;
    font-weight:700!important;
    font-size: 20px;
    height:60px;
    padding-top:15px;
    padding-left:140px;
    display:sticky;
    justify-content:space-between
}
.FreeCoffeeSection {
    background-color: rgb(212,232,227);
    width:auto;
    height: 700px;
}
.CoffeeHeader {
    display: flex;
    justify-content: flex-start;
    font-weight:600!important;
    font-size: 2.7rem!important;
    padding-left:80px;
}
.CoffeeJoin {
    display: flex;
    justify-content: flex-start;
    font-weight:600!important;
    font-size:1.5rem!important;
    padding-left: 80px;
    padding-top:20px;
    padding-bottom:20px;
    
}
.JoinButton {
    position: relative;
    right: -80px;
    background: none;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    font-weight: 600;
    line-height: 1.2;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    background-color: #00754a;
    border-color: #00754a;
    color: #fff
}
.JoinButton:hover {
    z-index:2;
    transform:scale(1.2)
}
.CoffeeHeaderP {
    font-size: 1.6rem!important;
    display:flex;
    justify-content: flex-start;
    padding-left: 80px;
    padding-top:20px;
}
.JoiningLink {
    font-size: 1.6rem!important;
}

.LightBlueSection {
    padding-top: 230px;
}
.RewardRow {
    padding:0px;
}
.Logo {
    height:auto;
    width:auto;
    display:block;
}
.SecondSectionHeader h1 {
        display:flex;
        justify-content:center;
        font-size:2.1rem!important;
        font-weight:600!important;
        border-bottom:2px solid;
    border-color:lightgray;
}
.SecondSectionHeader p {
    display:flex;
    justify-content: center;
    font-size:1.6rem!important;
    font-weight: 300!important;
    padding-top:25px;
    padding-bottom:25px;
}
.InfoCard {
     height:auto;
     width: 300px;
     max-height: 300px;
     max-width: 300px;
     padding-left:50px;
    font-size:1.2rem!important;
    font-weight:700px;
    margin: 0 10vw;
}
.LinkWords {
    font-size:1.2rem!important;
    color:lightgreen;
}
.InfoCard h1 {
    font-size:1.6rem!important;
        font-weight:600!important;
}
.ThirdSectionHeader h1 {
    display:flex;
    justify-content:center;
    font-size:2.1rem!important;
    font-weight:600!important;
    border-bottom:2px solid;
    border-color:lightgray;
}
.ThirdSectionHeader p {
    display:flex;
    justify-content: center;
    font-size:1.3rem!important;
    font-weight: 300!important;
    padding-top:25px;
    
}
.InfoCardTwo {
    height:auto;
    width: 300px;
    max-height: 600px;
    max-width: 300px;
    padding-left:50px;
   font-size:1.2rem!important;
   font-weight:700px;
   margin: 0 10vw;
}
.InfoCardTwo h1 {
    font-size:1.6rem!important;
        font-weight:600!important;
}
.RewardRowThree {
    height:auto;
}
.InfoCardTwo img {
    height:200px;
    width:200px;
}
.InfoCardTwo h2 {
    padding-left:20px;
    padding-top:10px;
    color:lightgreen;
    align-items: center;
}
.FourthSectionHeader h1 {
    display:flex;
    justify-content:center;
    font-size:2.1rem!important;
    font-weight:600!important;
    border-bottom:2px solid;
    border-color:lightgray;
}
.FourthSectionHeader p {
    display:flex;
    justify-content: center;
    font-size:1.3rem!important;
    font-weight: 300!important;
    padding-top:25px;
    
}
.PurpleZone {
    background-color: rgb(243,240,234);
}
.SideInfo h1 {
    font-weight:600!important;
    font-size:1.8rem!important;
}
.SideInfo h2 {
    font-size:1.4rem!important;
    font-weight:400!important;
    padding-top:20px;
    padding-bottom: 50px;
}
.scanAndPay h1 {
    font-size:1.8rem!important;
    font-weight:600!important;
}
.scanAndPay h2 {
    font-size:20px;
    padding-top:30px;
    padding-bottom: 20px;
}
.scanAndPay img {
    width:130px;
    display:flex;
    justify-content: center;
    
}
.savePayment h1 {
    font-size:1.8rem!important;
    font-weight:600!important;
}
.savePayment h2 {
    font-size:20px;
    padding-top:30px;
    font-weight:1.3rem!important;
    padding-bottom: 20px;
}
.savePayment img {
    width:130px;
}
.Preload h1{
    font-size:1.8rem!important;
    font-weight: 600!important;
}
.Preload p {
    font-size:20px;
    padding-top:30px;
    font-weight:1.3rem!important;
    padding-bottom: 20px;
}
.Preload img {
    width:130px;
}
.register h1 {
    font-size:1.8rem!important;
    font-weight: 600!important;
}
.register p {
    font-size: 20px;
    padding-top:30px;
    font-weight: 1.3rem!important;
    padding-bottom: 20px;
}
.register img {
    width:130px;
}
.StarCodeField  h1{
    display:flex;
    justify-content: space-around;
    font-size: 2.6rem!important;
    font-weight:600!important;
    padding-bottom:60px;
}
.StarCodeField input {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 40%);
    display: flex;
    justify-content: center;
    padding: 18px 100px;
    margin:auto;
    font-size: 20px;
    transition: border .2s linear .2s;
}
.StarCodeField button {
    display: flex;
    margin:auto;
    margin-top:20px;
    padding: 6px 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 40%);
    font-size: 1.3rem!important;
    font-weight:600!important;
    transition: border .2s linear .2s;
    transition: 0.3s;
}
.StarCodeField button:hover {
    z-index:2;
    transform:scale(1.2)
}
.QuestionSection h1 {
    display:flex;
    justify-content: center;
    font-size:2.5rem!important;
    font-weight:600!important;
    padding-right: 270px;
}
.QuestionSection p {
    font-size:large;
    width:500px;
    height:300px;
    margin:auto;
    padding-top:30px;
    font-weight:300!important;
}
.QuestionSection a {
    color:lightgreen;
    font-size:large;
}
.RewardEighthRow {
    background-color: rgb(249,248,248);
}
.leftSection p {
    font-size:1.2rem!important;
    padding-bottom:1.6rem!important;
}
.leftSection h2 {
    letter-spacing: .1em!important;
    text-transform: uppercase!important;
    font-size:1.5rem!important;
    font-weight:700!important;
    padding-bottom: 30px;
    color:rgb(104,105,105)
}
.leftSection {
    margin-left:50px;
    background-color: rgb(249,248,248);
}
.rightSection {
    margin-left:50px;
    background-color:rgb(249,248,248);
}
.rightSection h2 {
    letter-spacing: .1em!important;
    text-transform: uppercase!important;
    font-size:1.5rem!important;
    font-weight:700!important;
    padding-bottom: 30px;
    color:rgb(104,105,105);
    padding-top:50px;
}
.rightSection p {
    font-size:1.2rem!important;
    padding-bottom:1.6rem!important;
}
.rightSectionBottom h2 {
    letter-spacing: .1em!important;
    text-transform: uppercase!important;
    font-size:1.5rem!important;
    font-weight:700!important;
    padding-bottom: 30px;
    color:rgb(104,105,105);
    padding-left:50px;
}
.rightSectionBottom p {
    font-size:1.2rem!important;
    padding-bottom:1.6rem!important;
    padding-left:40px;
}
.LinkWordStore {
    font-size:1.2rem!important;
    padding-bottom:1.6rem!important;
    color:lightgreen;
}